.symbolsView {
  display: flex;
  flex-direction: column;
}

.symbolsView__content {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 6px;
  padding: 12px;
}

@media (max-width: 1023px) {
  .symbolsView__content {
    grid-template-columns: 1fr;
  }

  .symbolsView__cards {
    grid-template-columns: 1fr;
  }

  .symbolsView__chart {
    order: -1;
  }
}
